.first {
    background-color: hsl(208, 55%, 51%, 80%);
    font-size: 200%;
    text-decoration: none;
    color: white;
}

.first:hover {
    background-color: hsl(208, 55%, 51%, 60%);
    color: white;
}

.second {
    background-color: hsl(209, 13%, 31%);
    font-size: 200%;
    text-decoration: none;
    color: white;
}

.second:hover {
    background-color: hsl(209, 13%, 31%, 70%);
    color: white;
}

.titulo {
    text-align: center;
    padding: 17%;
    font-size: 800%;
    font-family: 'Signika Negative', sans-serif;
    background-color: hsl(120, 33%, 34%, 50%);
    color: hsl(0, 1%, 23%);
}

.estado{
    color: rgb(240, 173, 78);
}