<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
        <title>Gestionar Prestamos</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
            <a class="navbar-brand" href="/">LBRIA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/libro}">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/autor}">Autores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/editorial}">Editoriales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cliente}">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/prestamo}">Prestamos</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div th:if="${exito}!=null" class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Exito</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Error</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>

        <h1 class="text-muted display-6 container-fluid p-5">Listar Libros</h2>

        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center align-middle">
                        <th scope="col">ID</th>
                        <th scope="col">Fecha Prestamo</th>
                        <th scope="col">Fecha Devolucion</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Libro</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody th:each="prestamo : ${prestamos}">

                    <tr class="text-center align-middle">
                        <td th:text="${prestamo.id}"></td>
                        <td th:text="${prestamo.fechaPrestamo}"></td>
                        <td th:text="${prestamo.fechaDevolucion}"></td>
                        <td th:text="${prestamo.cliente.nombre} + ' ' + ${prestamo.cliente.apellido}"></td>
                        <td th:text="${prestamo.libro.nombre}"></td>

                        <td th:if="${prestamo.alta}">
                            <a th:href="@{/prestamo/editar/__${prestamo.id}__}">
                                <button type="button" class="btn btn-outline-primary">Editar</button>
                            </a>
                        </td>

                        <td th:unless="${prestamo.alta}">
                            <button type="button" class="btn btn-outline-secondary disabled">Editar</button>
                        </td>

                        <td class="text-center">
                            <i th:if="${prestamo.alta}" class="fa fa-circle text-success"></i>
                            <div th:if="${prestamo.alta}">En curso</div>
                            <i th:unless="${prestamo.alta}" class="fa fa-circle estado"></i>
                            <div th:unless="${prestamo.alta}">Devuelto</div>
                        </td>

                        <td th:if="${prestamo.alta}">
                            <a th:href="@{/prestamo/devolucion/__${prestamo.id}__}">
                                <button type="button" class="btn btn-warning">Devolver</button>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>

            <a href="/prestamo"><button type="button" class="btn btn-secondary m-2">Volver</button></a>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>


</body>

</html>